*.py[cod]
__pycache__/
*.log
*.sqlite3
*.env
*.venv
.env/
.venv/
*.egg-info/
dist/
build/
.DS_Store
.ipynb_checkpoints/
*.swp
*.bak
*.tmp
.idea/
.vscode/
*.pkl
*.h5
*.ckpt
*.tensorboard/
outputs/
runs/
*.out
*.err
*.gz

*.tar
*.tar.gz
*.rar
*.7z
node_modules/
coverage/
*.cov
*.prof
*.cache/
.mypy_cache/
.pytest_cache/
*.orig
*.rej
**/__pycache__/
logs/
test-results/
sim-venv/